<p>servers works!</p>
<input type="text" (input)="updateServerName($event)">
<br><br>
<input type="text" [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button type="button" (click)="createServer()" [disabled]="!allowNewServer">Add Server</button>
<br><br>
<p *ngIf="showServer; else noServer">{{ 'This is the Server. ' + this.serverStatus }}</p>
<br>

<ng-template #noServer>
    <p>No Server created.</p>
</ng-template>

<app-server *ngFor="let server of getServers" [svrElement]="server"></app-server>

<br><hr><br>

<input type="text" [(ngModel)]="username">
<p>{{ username }}</p>
<button type="button" (click)="resetUsername()" [disabled]="username === ''">Reset</button>

<br><hr><br>

<button type="button" (click)="displayDetails()">Display Details</button>
<div *ngIf="showDetails" >
    <span>Secret Password: tuna</span> 
</div> 
<ol>
    <li *ngFor="let clickButton of numberClicks" [ngClass]="{whiteText:clickButton >= 5}" [ngStyle]="{backgroundColor: getBgColor(clickButton)}">{{ clickButton }}</li>
</ol>

<br><hr><br>
Creat Server
<br><br>
<app-create-server (serverCreated)="handlerServerCreated($event)"></app-create-server>

<br><hr><br>
<input type="text" #localName value="Enter your name">
<br>
<button type="button" (click)="outuputLR(localName)">Output</button>